<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logfile" value="E:\Project\MSUIAutomationScripts\Lowis\Report\uiautolog.txt"/>
    <add key="testinputdata" value="E:\Project\MSUIAutomationScripts\Lowis\TestData\"/>
    <add key="sequencefile" value="E:\Project\MSUIAutomationScripts\Lowis\Sequence\MB_sequence.xls"/>
    <add key="apppath" value=""/>
    <add key="driverfile" value=""/>
    <add key="usewhite" value="False"/>
    <add key="iconfile" value="T:\WellFlo5.2\WellFlo_UIAutomationTestData\App.ico"/>
    <add key ="attempts" value="50"/>
    <add key="ResultSummaryFile" value="E:\Project\MSUIAutomationScripts\Lowis\Report\ResultSummary.csv"/>
    <add key="ResultFile" value="C:\msui.csv"/>
    <add key="ReportFilePath" value="E:\Project\MSUIAutomationScripts\Lowis\Report\Result"/>
    <add key="EmailToList" value="Prasanna.hegde@me.weatherford.com"/>
    <add key="SendEmail" value="N" />
    <add key="uiacsvlogfile" value="E:\Project\MSUIAutomationScripts\Lowis\Report\" />
    <add key="Detaillog" value="True"/>
    <add key="delefilespath" value="C:"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
